body {
    font-family: 'Oswald', sans-serif;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 1000px;
    width: 100vw;
    height: 100vh;
  }
  /* What kind of selector is this? */
  .logo {
    width: 150px;
    height: auto;   
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    background-color: azure;
    margin-bottom: 20px;
  }
  
  /* This is an element within and element selector */ 
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: black;
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    border-radius: 25px;
    background: rgb(226, 252, 252);
    padding: 20px;
    text-align: center;
  }
  
  nav {
    display: flex;
    align-items: center;
    width: 100%;
  }
  main {
    height: 800px;
    background-image: url('https://cdn.pixabay.com/photo/2016/03/27/07/32/light-1282314_960_720.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns: 33%, 34%, 33%;
    grid-template-rows: auto, auto, auto, auto;
    text-align: center;
    
   }
   div {
       grid-row: 2/4;

   }
  /* This is an ID selector */
  #profile-pic {    
    height: 300px;
    padding: 18px;
    border-radius: 10%;
    border: solid darkslategray 3px;

  }
  
  h1 {
    color: darkslategrey;
   }
  
  h2 {
    color: darkslategrey;
     }
  
  a {
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif; 
    grid-row: 4/5; 
   }

  
  button {
    height: 45px;
    width: 150px;
    font-family:'Quicksand', sans-serif;
    font-size: 15px;
    background: transparent;
    border-radius: 10px;
    color: darkslategrey;  
   
    }
  